<div class="menu-wrapper center-relative" style="">
  <nav id="header-main-menu">
      <div class="mob-menu">MENU</div>
      <ul class="main-menu sm sm-clean">
          <li><a href="#home">CLASSIFIED ADS</a></li>
      </ul>
  </nav>
</div>
<div class="menu-wrapper center-relative" style="margin-top:64px;position: relative;background-color: #b08638;z-index: 88 !important;">
  <nav id="header-main-menu">
      <div class="mob-menu">MENU</div>
      <ul class="main-menu sm sm-clean">
          <li><a [routerLink]="['/']">Accueil</a></li>
          <li><a [routerLink]="['/produit-new']"><i class="fa fa-plus"></i> Ajouter</a></li>
          <li><a [routerLink]="['/stepper']">stepper</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#news">News</a></li>
          <li><a href="#video">Video</a></li>
          <li *ngIf="session"><a ><img style="width: 70px; height:70px;border-radius:50%;" src="{{avatar}}" alt="avatar"> {{username}}</a></li>
          <li><a [routerLink]="['/user-edit']">Config</a></li>
          <li><a [routerLink]="['/login',1]">Logout</a></li>
      </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
