<section class="col-lg-4 col-md-4 col-sm-4">	
</section>

<section class="col-lg-8 col-md-8 col-sm-8" style="padding: 20px 0;">
	<mat-toolbar id="search-bar" color="primary" style="font-size: 13px;background-color: transparent;">  
		<mat-toolbar-row>
			<mat-form-field class="col-lg-4 col-md-4 col-sm-4">
				<mat-select placeholder="CATEGORIE" name="filter" [(ngModel)]="filter">
					<mat-option [value]="0" selected="selected">Tous</mat-option>
					<mat-option [value]="1">Téléphone</mat-option>
					<mat-option [value]="2">Ordinateur</mat-option>
					<mat-option [value]="3">Voiture</mat-option>
					<mat-option [value]="4">Moto</mat-option>
				</mat-select>
			</mat-form-field>
			
			<mat-form-field class="col-lg-4 col-md-4 col-sm-4">
				<mat-select placeholder="TRIER PAR DATE" name="order" [(ngModel)]="order">
					<mat-option [value]="0" selected="selected">Tous</mat-option>
					<mat-option [value]="1">Asc. Date</mat-option>
					<mat-option [value]="2">Desc. Date</mat-option>
				</mat-select>
			</mat-form-field>
			
			<mat-form-field class="col-lg-4 col-md-4 col-sm-4">
				<input matInput [(ngModel)]="searchString" name="searchString" type="text" placeholder="Rechercher" value=""> <span class="fa fa-search" (click)="search();"></span>
			</mat-form-field>

		
	</mat-toolbar-row>
	</mat-toolbar>

	<div class="row" style="margin: 50px auto;padding-left: 1em;padding-right: 1em;">
		<div class="wrapper col-lg-3 col-md-3 col-sm-3" style="max-height:400px;overflow: hidden;" *ngFor="let produit of produits">

			<div class="card radius shadowDepth1">
					<div class="card__image border-tlr-radius">
						<span></span>
							<img src="assets/images/no-photo.png" alt="image" class="border-tlr-radius">
					</div>

					<div class="card__content card__padding">
							<div class="card__share">
									<div class="card__social">  
											<a class="share-icon facebook" href="#"><span class="fa fa-facebook"></span></a>
											<a class="share-icon twitter" href="#"><span class="fa fa-twitter"></span></a>
											<a class="share-icon googleplus" href="#"><span class="fa fa-google-plus"></span></a>
									</div>

									<a id="share" class="share-toggle share-icon" [routerLink]="['produit-edit',produit.id]"> </a>
							</div>

							<div class="card__meta">
									<a href="#">Web Design</a>
									<time>17th March</time>
							</div>

							<article class="card__article">
									<h2><a href="#">{{produit.nom}}</a></h2>

									<p>{{produit.description}}</p>
							</article>
					</div>

					<div class="card__action">
							
							<div class="card__author">
									<img src="assets/images/no-photo.png" style="width: 40px;height: 40px;" alt="user">
									<div class="card__author-content">
											By <a href="#">John Doe</a>
									</div>
							</div>
					</div>
			</div>
		</div>
	</div>

	<div class="col-md-12" *ngIf="loading == 'hide' && ( produits.length == 0)">
		<div class="clearfix"></div>
		<div class="alert alert-warning" >
		Nous n'avons trouvé aucun article correspondant à votre recherche. <a [routerLink]="['/produit-new']" >Vous pouvez en créer ici</a>
		</div>
	</div>


	<ul class="pagination">
		<li>
			<a [routerLink]="['/index', pagePrev]" aria-label="Previous">
				<span aria-hidden="true">&laquo;</span>
			</a>
		</li>
		<li *ngFor="let page of pages">
			<a [routerLink]="['/index',page+1]">{{page+1}}</a>
		</li>
		<li>
			<a [routerLink]="['/index', pageNext]" aria-label="Next">
				<span aria-hidden="true">&raquo;</span>
			</a>
		</li>

	</ul>

</section>
<footer>
	<div class="footer content-1170 center-relative">
		<ul>
			<li class="copyright-footer">
				© 2018 All rights reserved. <a href="#" target="_blank">STARTUP | MADA</a>
			</li>
			<li class="social-footer">
				<a href="#"><span class="fa fa-twitter"></span></a>
				<a href="#"><span class="fa fa-behance"></span></a>
				<a href="#"><span class="fa fa-dribbble"></span></a>
				<a href="#"><span class="fa fa-facebook"></span></a>
				<a href="#"><span class="fa fa-rss"></span></a>
			</li>
		</ul>
	</div>
  </footer>