<div class="col-md-12">
	
	<div class="loader" *ngIf="loading === 'show'">
		<img src="assets/img/loader.gif" />
	</div>

	<div class="col-md-12" ng-if="!loading || fleur">
		<h3>{{page_title}}</h3>

		<div class="alert alert-success" *ngIf="status_fleur === 'success'">
			fleur Created
		</div>

		<div class="alert alert-danger" *ngIf="status_fleur === 'error'">
			fleur was not created!
		</div>

		<form #fleurNewForm="ngForm" (ngSubmit)="onSubmit();" class="col-md-7 no-padding">

		<p>
			<label>Nom</label>
			<input type="text" class="form-control" name="title" #title="ngModel" [(ngModel)]="fleur.nom" required>
			<span *ngIf="!title.valid && title.touched">Not title name</span>
		</p>

		<p>
			<label>Description</label>
			<textarea class="form-control" name="description" #description="ngModel" [(ngModel)]="fleur.description" required></textarea>
		</p>

		<p>
			<label>Saison</label>
			<select class="form-control" name="status" #status="ngModel" [(ngModel)]="fleur.saison">
				<option value="été">été</option>
				<option value="hiver">hiver</option>
				<option value="automme">automme</option>
				<option value="printemps">printemps</option>
				<option value="continu">continu</option>
			</select>
		</p>

		<input type="submit" value="{{page_title}}" name="" class="btn btn-success" [disabled]="!fleurNewForm.form.valid">

		</form>
	</div>	
</div>