<div class="col-md-12">
	
	<div class="loader" *ngIf="loading === 'show'">
		<img src="assets/img/loader.gif" />
	</div>

	<div class="col-md-12" ng-if="!loading || produit">
		<h3>{{page_title}}</h3>

		<div class="alert alert-success" *ngIf="status_produit === 'success'">
			produit Created
		</div>

		<div class="alert alert-danger" *ngIf="status_produit === 'error'">
			produit was not created!
		</div>

		<form #produitNewForm="ngForm" (ngSubmit)="onSubmit();" class="col-md-7 no-padding">

		<p>
			<label>Nom</label>
			<input type="text" class="form-control" name="nom" #nom="ngModel" [(ngModel)]="produit.nom" required>
			<span *ngIf="!title.valid && title.touched">Not title name</span>
		</p>

		<p>
			<label>Categorie</label>
			<select class="form-control" name="categorie" #saison="ngModel" [(ngModel)]="produit.categorie">
				<option value="Téléphone">Téléphone</option>
				<option value="Ordinateur">Ordinateur</option>
				<option value="Voiture">Voiture</option>
				<option value="Moto">Moto</option>
				<option value="Meuble">Meuble</option>
			</select>
		</p>

		<p>
			<label>Description</label>
			<textarea class="form-control" name="description" #description="ngModel" [(ngModel)]="produit.description" required></textarea>
		</p>
	
		<p>
			<label>Prix</label>
			<textarea class="form-control" name="prix" #rix="ngModel" [(ngModel)]="produit.prix" required></textarea>
		</p>


		<input type="submit" value="{{page_title}}" name="" class="btn btn-success" [disabled]="!produitNewForm.form.valid">

		</form>
	</div>	
</div>