<div class="col-md-12">
	
	<div class="loader" *ngIf="loading === 'show'">
		<img src="assets/img/loader.gif" />
	</div>

	<div class="col-md-12" ng-if="!loading || produit">
		<h3>{{page_title}}</h3>

		<div class="alert alert-success" *ngIf="status_produit === 'success'">
			produit Created
		</div>

		<div class="alert alert-danger" *ngIf="status_produit === 'error'">
			produit was not created!
		</div>

		
	</div>	
</div>

<div id="contact" class="section">
		<div class="block content-1170 center-relative">
			<div class="section-title-holder left">
ONE
			</div>
			<div class="section-content-holder right" style="margin-left: 0;">
					<form #produitNewForm="ngForm" (ngSubmit)="onSubmit();" class="col-md-7 no-padding">

							<mat-form-field >
									<input matInput name="nom" #nom="ngModel" [(ngModel)]="produit.nom" required placeholder="Nom"> 
									<span *ngIf="!nom.valid && nom.touched">Not title name</span>
							</mat-form-field>
							<br>
				
							<mat-form-field >
									<mat-select placeholder="CATEGORIE" name="filter" [(ngModel)]="filter">
										<mat-option [value]="0" selected="selected">Tous</mat-option>
										<mat-option [value]="1">Téléphone</mat-option>
										<mat-option [value]="2">Ordinateur</mat-option>
										<mat-option [value]="3">Voiture</mat-option>
										<mat-option [value]="4">Moto</mat-option>
									</mat-select>
								</mat-form-field>
							
								<br>
				
							<mat-form-field >
									<input matInput type="textarea" name="description" #description="ngModel" [(ngModel)]="produit.description" placeholder="description" required> 
									<span *ngIf="!description.valid && description.touched">Not title name</span>
								</mat-form-field>
								<br>
							<mat-form-field >
									<input matInput name="prix" #prix="ngModel" [(ngModel)]="produit.prix" required placeholder="prix" required> 
									<span *ngIf="!prix.valid && prix.touched">Not title name</span>
								</mat-form-field>
				
								<br>
							<input type="file" name="media" multiple="multiple" #media="ngModel" [(ngModel)]="produit.media"  (change)="onFileChange($event)">
							<br>

						<input type="submit" class="button " value="{{page_title}}" name="" class="btn btn-success" [disabled]="!produitNewForm.form.valid">
						<br>
						</form>
			</div>
			<div class="clear"></div>
		</div>
	</div>



	<footer>
			<div class="footer content-1170 center-relative">
				<ul>
					<li class="copyright-footer">
						© 2018 All rights reserved. <a href="#" target="_blank">STARTUP | MADA</a>
					</li>
					<li class="social-footer">
						<a href="#"><span class="fa fa-twitter"></span></a>
						<a href="#"><span class="fa fa-behance"></span></a>
						<a href="#"><span class="fa fa-dribbble"></span></a>
						<a href="#"><span class="fa fa-facebook"></span></a>
						<a href="#"><span class="fa fa-rss"></span></a>
					</li>
				</ul>
			</div>
		  </footer>